<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <%= simple_form_for @article do |f| %>
      <%= f.error_notification %>
      <%= f.input :title %>
      <%= f.input :slug, required: true, label: "Url of the article" %>
      <%= f.input :category_ids , as: :select,collection: @categories , include_hidden: false, input_html: { multiple: 'true'}%>
      <p>Article preview</p>
      <%= f.input :image, as: :jasnyfile, label: false %>
      <%= f.input :body, :as => :ckeditor, input_html: {:rows => 30, :ckeditor => {:toolbar => 'FULL'}} %>
      <%= f.input :previous_url, label: "Previous article url ?"%>
      <%= f.input :next_url,  label: "Next article url ?" %>

      <%= f.button :submit, "Update", class: 'btn btn-primary' %>
      <%= link_to "Back to articles", articles_path, class:"btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>

<% content_for(:after_js) do %>
<script type="text/javascript">
  $('#article_category_ids').select2()
</script>
<% end %>
