<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <%= simple_form_for @article do |f| %>
      <%= f.error_notification %>
      <%= f.input :title %>
      <%= f.input :slug, required: true, label: "Url of the article" %>
      <div class="row">
        <div class="col-xs-6"><%= f.input :category_ids, include_hidden: false, collection: @categories, input_html: { multiple: true } %>
        </div>
        <div class="col-xs-6">
          <div class="form-group select childs_number">
            <label class="control-label select" for="childs_number">Number of sub article ?</label>
            <select class="form-control select" name="childs_number" id="childs_number">
              <option value=""></option>
              <% [*1..20].each do |i| %>
              <option value="<%= i %>"><%= i %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <p>Article preview</p>
      <%= f.input :image, as: :jasnyfile, label: false %>
      <%= f.input :body, :as => :ckeditor, input_html: {:rows => 30, :ckeditor => {:toolbar => 'FULL'}} %>
      <%= f.button :submit, "Create", class: 'btn btn-primary' %>
      <%= link_to "Back to articles", articles_path, class:"btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>

<% content_for(:after_js) do %>
<script type="text/javascript">
  $('#article_category_ids').select2()
  $('#new_article').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
      e.preventDefault();
      return false;
    }
  });
</script>
<% end %>

