<!-- Main Content Start -->
<section id="main-content" class="fbt-blog-single clearfix">
  <div class="container">
    <div class="row">
      <!-- Post Outer Start -->
      <div class="outer-wrapper clearfix">

        <!-- Post Wrapper Start -->
        <div class="fbt-col-lg-9 col-md-8 col-sm-6 post-wrapper clearfix">
          <div class="row">

            <!-- Post Content Start -->
            <div class="col-md-12 single-post-container clearfix">
              <div class="single-post">
                <div class="img-crop">
                  <%= image_tag @article.image.main, class:"img-responsive" %>
                  <div class="img-credits">
                    <div class="col-md-10 col-md-offset-1">
                      <% @article.categories.each do |category| %>
                      <%= link_to "#{category.label}", home_by_category_path(category: "#{category.label}"), class:"post-category" %>
                      <% end %>
                      <div class="post-title"><h1 style="color: white"><%= @article.title %></h1>
                      </div>

                      <div class="post-info clearfix">
                        <span><a href="#"><i class="fa fa-pencil-square-o"></i> Jonathan Specter</a></span>
                        <span class="sepr">-</span>
                        <span class="date"><i class="fa fa-clock-o"></i> <%= @article.created_at.strftime("%d %B %Y") %></span>
                        <span class="sepr">-</span>
                        <span class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half-o"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Start of article -->
                <%= render partial: "shared/post_share" %>
                <%= @article.body.html_safe %>
                <!-- End of article -->
                <br>
                <br>
                <br>
                ADD FACEBOOK COMMENT
                <br>
                <br>
                <br>

                <!-- Related Posts Start -->
                <div class="fbt-related-posts clearfix">
                  <div class="title-wrapper">
                    <h2><span>You Might Also Like</span></h2>
                  </div>

                  <div class="row">
                    <% @related_articles.each do |article| %>
                    <%= render partial: "shared/square_article", locals: {article: article} %>
                    <% end %>
                  </div>
                </div><!-- Related Posts End -->

                <!-- Large List Start -->
                <div class="fbt-vc-inner nude large clearfix">
                  <div class="title-wrapper border-main">
                    <h2><span class="color-main"><%= @article.categories.first.label %> NEWS</span></h2>
                  </div>
                  <% @viral_articles.each do |article| %>
                  <%= render partial: 'shared/list_article', locals: {article: article} %>
                  <% end %>
                </div><!-- Large List End -->
              </div><!-- single-post -->
            </div><!-- Post Content End -->
          </div>
        </div><!-- Post Wrapper End -->

        <!-- Post Sidebar Start -->
        <div class="fbt-col-lg-3 col-md-4 col-sm-6 post-sidebar clearfix">
          <div class="theiaStickySidebar">

            <!-- Advertisement Start -->
            <div class="widget advertisement">
              <div class="desktop-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
              <div class="tablet-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
              <div class="mobile-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
            </div><!-- Advertisement End -->

          </div>
        </div><!-- Post Sidebar End -->

      </div><!-- Post Outer End -->

    </div>
  </div>
</section><!-- Main Content End -->

<a href="#" id="BackToTop"><i class="fa fa-angle-up"></i></a>
<div class="navbar-fixed-bottom"></div>

