<!-- Main Content Start -->
<section id="main-content" class="fbt-blog-single clearfix">
  <div class="container">
    <div class="row">
      <!-- Post Outer Start -->
      <div class="outer-wrapper clearfix">

        <!-- Post Wrapper Start -->
        <div class="fbt-col-lg-9 col-md-8 col-sm-6 post-wrapper clearfix">
          <div class="row">

            <!-- Post Content Start -->
            <div class="col-md-12 single-post-container clearfix">
              <div class="single-post">

                <%= render partial: "shared/post_share" %>
                <%= @article.image.main %>
                <%= @article.body.html_safe %>

                <!-- Related Posts Start -->
                <div class="fbt-related-posts clearfix">
                  <div class="title-wrapper">
                    <h2><span>You Might Also Like</span></h2>
                  </div>

                  <div class="row">
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-1.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Semper nisl, nulla id vestibulum, placerat vestibulum etiam interdum.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 19, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-2.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Nam iusto delicata ne, eam dolore singulis maiestatis ex.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 17, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-3.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>China's drive to become a rugby union superpower.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 16, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-4.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Aliquam metus mauris, litora orci ligula.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 15, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-5.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Dolor ut a est maecenas, neque odio dui leo lacus varius.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 13, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-6.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Etiam duis nunc dui ad sagittis, mauris at rem, in nunc.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 12, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-12.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Duis sed aliquam. Aliquam felis pulvinar in eu libero dapibus, donec ligula elit amet.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 10, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-8.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>The age of first-time mothers is rising faster in the US.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 9, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-9.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Etiam duis nunc dui ad sagittis, mauris at rem, in nunc ac eu mi elit.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 7, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-10.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Lorem ipsum dolor sit amet, iaculis amet diam pellentesque ac rutrum.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 1, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-md-6 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-11.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Semper nisl, nulla id vestibulum, placerat vestibulum etiam interdum.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 19, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fbt-col-lg-4 col-sm-12 col-xs-6 fbt-vc-inner post-grid clearfix">
                      <div class="post-item clearfix">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-13.jpg')"></div></a>
                        </div>
                        <div class="post-content">
                          <a href="single.html"><h3>Nam iusto delicata ne, eam dolore singulis maiestatis ex.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Feb 17, 2016</span>
                            <span>-</span>
                            <span class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- Related Posts End -->

                <!-- Large List Start -->
                <div class="fbt-vc-inner nude large clearfix">
                  <div class="title-wrapper border-5">
                    <h2><span class="color-5">VIRAL NEWS</span></h2>
                  </div>
                  <div class="post-item small">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-28.jpg')"></div></a>
                        </div>
                      </div>
                      <div class="col-md-8 padding-left-5">
                        <div class="post-content">
                          <a href="single.html"><h3>Aliquam metus mauris, litora orci ligula.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">Nick Nam</a></span>
                            <span>-</span>
                            <span>Mar 13, 2016</span>
                          </div>
                          <div class="text-content">
                            <p>Suspendisse consectetuer, interdum vulputate sit ullamcorper in dictum quis,
                              orci lectus, rhoncus vulputate in risus donec aliquam, neque imperdiet feugiat...
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-item small">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-7.jpg')"></div></a>
                        </div>
                      </div>
                      <div class="col-md-8 padding-left-5">
                        <div class="post-content">
                          <a href="single.html"><h3>China's drive to become a rugby union superpower.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">Mark Spenser</a></span>
                            <span>-</span>
                            <span>Mar 10, 2016</span>
                          </div>
                          <div class="text-content">
                            <p>Suspendisse consectetuer, interdum vulputate sit ullamcorper in dictum quis,
                              orci lectus, rhoncus vulputate in risus donec aliquam, neque imperdiet feugiat...
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-item small">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url(img/img-17.jpg)"></div></a>
                        </div>
                      </div>
                      <div class="col-md-8 padding-left-5">
                        <div class="post-content">
                          <a href="single.html"><h3>Nam iusto delicata ne, eam dolore singulis maiestatis ex.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Mar 3, 2016</span>
                          </div>
                          <div class="text-content">
                            <p>Suspendisse consectetuer, interdum vulputate sit ullamcorper in dictum quis,
                              orci lectus, rhoncus vulputate in risus donec aliquam, neque imperdiet feugiat...
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-item small">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-10.jpg')"></div></a>
                        </div>
                      </div>
                      <div class="col-md-8 padding-left-5">
                        <div class="post-content">
                          <a href="single.html"><h3>China's drive to become a rugby union superpower.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">Mark Spenser</a></span>
                            <span>-</span>
                            <span>Mar 10, 2016</span>
                          </div>
                          <div class="text-content">
                            <p>Suspendisse consectetuer, interdum vulputate sit ullamcorper in dictum quis,
                              orci lectus, rhoncus vulputate in risus donec aliquam, neque imperdiet feugiat...
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="post-item small">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="img-thumb">
                          <a href="single.html"><div class="fbt-resize" style="background-image: url(img/img-16.jpg)"></div>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-8 padding-left-5">
                        <div class="post-content">
                          <a href="single.html"><h3>Nam iusto delicata ne, eam dolore singulis maiestatis ex.</h3></a>
                          <div class="post-info clearfix">
                            <span><a href="#">John Doe</a></span>
                            <span>-</span>
                            <span>Mar 3, 2016</span>
                          </div>
                          <div class="text-content">
                            <p>Suspendisse consectetuer, interdum vulputate sit ullamcorper in dictum quis,
                              orci lectus, rhoncus vulputate in risus donec aliquam, neque imperdiet feugiat...
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- Large List End -->

              </div><!-- single-post -->

            </div><!-- Post Content End -->
          </div>
        </div><!-- Post Wrapper End -->

        <!-- Post Sidebar Start -->
        <div class="fbt-col-lg-3 col-md-4 col-sm-6 post-sidebar clearfix">
          <div class="theiaStickySidebar">

            <!-- Advertisement Start -->
            <div class="widget advertisement">
              <div class="desktop-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
              <div class="tablet-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
              <div class="mobile-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
            </div><!-- Advertisement End -->

          </div>
        </div><!-- Post Sidebar End -->

      </div><!-- Post Outer End -->

    </div>
  </div>
</section><!-- Main Content End -->

<a href="#" id="BackToTop"><i class="fa fa-angle-up"></i></a>
<div class="navbar-fixed-bottom"></div>

