
<!-- Footer Sidebar Start -->
<section class="footer-wrapper clearfix">
  <div class="container">
    <div class="row">

      <!-- Footer Widgets Start -->
      <div class="col-sm-4">
        <!-- Text Widget Start -->
        <div class="widget text-widget">
          <div class="widget-title">
            <h2>About Us</h2>
          </div>

          <!-- Social Icons Start -->
          <div class="fa-icon-wrap">
            <a class="facebook" href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
            <a class="twitter" href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
            <a class="instagram" href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a class="google-plus" href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a>
            <a class="dribbble" href="#"><i aria-hidden="true" class="fa fa-dribbble"></i></a>
            <a class="youtube" href="#"><i aria-hidden="true" class="fa fa-youtube"></i></a>
          </div><!-- Social Icons End -->

        </div><!-- Text Widget End -->

      </div>
      <div class="col-sm-8">
        <!-- Categories Widget Start -->
        <div class="widget categories-widget">
          <div class="widget-title">
            <h2>Hot Categories</h2>
          </div>
          <div class="col-xs-6">
            <ul class="category-list">
              <li><%= link_to home_by_category_path(category: "sport") do %> Sport <span><%= Article.joins(:categories).where(:categories => {:label => "sport"}).size %></span> <% end %> </li>
              <li><%= link_to home_by_category_path(category: "Fashion") do %> Fashion <span><%= Article.joins(:categories).where(:categories => {:label => "fashion"}).size %> </span> <% end %> </li>
              <li><%= link_to home_by_category_path(category: "Technology") do %> Technology <span><%= Article.joins(:categories).where(:categories => {:label => "technology"}).size %></span> <% end %> </li>
              <li><%= link_to home_by_category_path(category: "Music") do %> Music <span><%= Article.joins(:categories).where(:categories => {:label => "music"}).size %></span> <% end %> </li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul class="category-list">
              <li><%= link_to home_by_category_path(category: "Business") do %> Business <span><%= Article.joins(:categories).where(:categories => {:label => "business"}).size %></span></a> <% end %> </li>
              <li><%= link_to home_by_category_path(category: "Politics") do %> Politics <span><%= Article.joins(:categories).where(:categories => {:label => "politics"}).size %></span></a> <% end %> </li>
              <li><%= link_to home_by_category_path(category: "Lifestyle") do %> Lifestyle <span> <%= Article.joins(:categories).where(:categories => {:label => "lifestyle"}).size %> </span></a> <% end %> </li>
              <li><%= link_to home_by_category_path(category: "Inspiration") do %> Inspiration <span><%= Article.joins(:categories).where(:categories => {:label => "inspiration"}).size %></span></a> <% end %> </
            </ul>
          </div>
        </div><!-- Categories Widget End -->
      </div>
    </div><!-- Footer Widgets End -->

    <!-- Copyrights Start -->
    <div class="copyrights">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <div class="fbt-footer-nav">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- Copyrights End -->

  </div>
</section>
<!-- Footer Sidebar End -->
