<div class="img-thumb">
  <%= link_to article_path(article) do %>
  <div class="fbt-resize" style="background-image: url(<%= asset_path("#{article.image.main}") %>)">
  </div>
  <% end %>
  <div class="img-credits">
    <% article.categories.each do |category| %>
    <%= link_to "#{category.label}", home_by_category_path(category: "#{category.label}"), class:"post-category" %>
    <% end %>
    <%= link_to article_path(article) do %> <h3><%= article.title %></h3> <% end %>
    <div class="post-info">
      <span><%= article.created_at.strftime("%d %B %Y") %></span>
      <span>Jonathan Specter</span>
    </div>
  </div>

</div>

