<div class="navbar-fixed-top"></div>

<!-- Menu Navigation Start -->
<div class="navbar navbar-default megamenu clearfix" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#mainmenu" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class:"navbar-brand" do %><%= image_tag("logo.svg", style:"height: 40px", class:"nav-logo img-responsive") %> <% end %>
        </div>
        <div id="mainmenu" class="navbar-collapse collapse" style="">
          <ul class="nav navbar-nav">
          <li><%= link_to root_path, style:"line-height:0px" do %><%= image_tag("logo.svg", style:"height: 40px;", class:"nav-logo") %> <% end %></li>
            <li class=""> <a href="#" style="margin:auto">HUMOR</a>
            </li>
            <li><a href="#" style="margin:auto">VIRAL NEWS</a></li>
            <li><a href="#" style="margin:auto">PARENTING</a></li>
            <li><a href="#" style="margin:auto" >LIFESTYLE</a></li>
            <li><a href="#" style="margin:auto">INSPIRATION</a></li>
            <% if user_signed_in? %>
            <% if @article.present? && @article.slug.present? %>
            <li style="margin-left: 20px !important"><%= link_to "Edit article", edit_article_path(@article), class:"btn btn-success nav-btn" %></li>
            <% end %>
            <li style="margin-left: 20px !important"><%= link_to "Manage all articles", articles_path, class:"btn btn-curio nav-btn" %></li>
            <li style="margin-left: 20px !important" ><%= link_to('Logout', destroy_user_session_path, :method => :delete,  class:"btn btn-default nav-btn", style:"color:black !important") %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!-- Menu Navigation End -->
