<div class="widget advertisement">
  <div class="desktop-ad">
    <span>- Advertisement -</span>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
  </div>
  <div class="tablet-ad">
    <span>- Advertisement -</span>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
  </div>
  <div class="mobile-ad">
    <span>- Advertisement -</span>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
    <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
  </div>
