<!-- Featured Slide Start -->
<section id="fp-container" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="feuture-posts">
        <!-- Slider Start -->
        <div class="col-sm-6 big-section">
          <!-- Slider counter -->
          <div class='fbt-slide-nav'>
            <span class='fbt-slide-pager'></span>
          </div>

          <div class="fp-slides">
            <%= @main_articles.each do |article| %>
            <%= render partial: "shared/main_slider", locals: {article: article} %>
            <% end %>
          </div>
          <nav class="nav-growpop">
            <div>
              <a class="fp-prev" href="#fp-prev"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
              <a class="fp-next" href="#fp-next"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </div>
          </nav>
        </div><!-- Slider End -->

        <!-- Slide Small Start -->
        <div class="col-sm-6 small-section">
        <%= render partial: "shared/main_medium", locals: {article: @main_small_articles.first} %>
          <div class="row">
            <div class="fp-small">
              <% @main_small_articles.last(2).each do |article| %>
              <%= render partial: "shared/main_small", locals: {article: article} %>
              <% end %>
            </div>
          </div>
        </div><!-- Slide Small End -->

      </div>
    </div>
  </div>
</section><!-- Featured Slide End -->

<!-- Main Content Start -->
<section id="main-content" class="fbt-blog-grid clearfix">
  <div class="container">
    <div class="row">
      <!-- Post Outer Start -->
      <div class="outer-wrapper clearfix">
        <!-- Post Wrapper Start -->
        <div class="fbt-col-lg-9 col-md-8 col-sm-6 post-wrapper">
          <div class="row">
            <!-- Post Content Start -->
            <div class="fbt-col-lg-12 col-md-12 post-container clearfix">
              <div class="title-wrapper border-main">
                <h2><span class="color-main">Latest Articles</span></h2>
              </div>
              <div class="row">
                <% @latest_articles.each do |article| %>
                <%= render partial: "shared/square_article", locals: {article: article} %>
                <% end %>
              </div>

              <!-- Pagination Start -->
              <div class="pagination-box clearfix">
                <ul class="pagination-list">
                  <li><a href="#">Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li><a class="active">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><span> ... </span></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
                <p>Page 2 of 8</p>
              </div><!-- Pagination End -->

            </div><!-- Post Content End -->
          </div>
        </div><!-- Post Wrapper End -->
        <!-- Post Sidebar Start -->
        <div class="fbt-col-lg-3 col-md-4 col-sm-6 post-sidebar clearfix">

          <div class="theiaStickySidebar">

            <!-- Advertisement Start -->
            <div class="widget advertisement">
              <div class="desktop-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
              <div class="tablet-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
              <div class="mobile-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
            </div><!-- Advertisement End -->

          </div>
        </div><!-- Post Sidebar End -->


      </div>
    </div><!-- Post Sidebar End -->
  </div><!-- Post Outer End -->
</div>
</div>

<a href="#" id="BackToTop"><i class="fa fa-angle-up"></i></a>
<div class="navbar-fixed-bottom"></div>

