<!-- Featured Slide Start -->
<section id="fp-container" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="feuture-posts">
        <!-- Slider Start -->
        <div class="col-sm-6 big-section">
          <div class='fbt-slide-nav'>
            <span class='fbt-slide-pager'></span>
          </div>

          <div class="fp-slides">

            <div class="img-thumb">
              <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-2.jpg')"></div></a>
              <div class="img-credits">
                <a class="post-category" href="#">Cooking</a>
                <a href="single.html"><h3>Ei his graeci option officiis, no oratio vocent efficiendi vix.</h3></a>
                <div class="post-info">
                  <span>Oct 14, 2016</span>
                  <span><a href="#">Mark Spenser</a></span>
                </div>
              </div>
            </div>

            <div class="img-thumb">
              <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-10.jpg')"></div></a>
              <div class="img-credits">
                <a class="post-category" href="#">Travel</a>
                <a href="single.html"><h3>Nam iusto delicata ne, eam dolore singulis maiestatis ex.</h3></a>
                <div class="post-info">
                  <span>Sep 26, 2016</span>
                  <span><a href="#">John Doe</a></span>
                </div>
              </div>
            </div>

            <div class="img-thumb">
              <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-3.jpg')"></div></a>
              <div class="img-credits">
                <a class="post-category" href="#">Computing</a>
                <a href="single.html"><h3>Women in Hollywood, according to new study with Apple.</h3></a>
                <div class="post-info">
                  <span>Aug 11, 2016</span>
                  <span><a href="#">Nick Nam</a></span>
                </div>
              </div>
            </div>

          </div>
          <nav class="nav-growpop">
            <div>
              <a class="fp-prev" href="#fp-prev"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
              <a class="fp-next" href="#fp-next"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </div>
          </nav>
        </div><!-- Slider End -->

        <!-- Slide Small Start -->
        <div class="col-sm-6 small-section">
          <div class="img-thumb first">
            <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-9.jpg')"></div></a>
            <div class="img-credits">
              <a class="post-category" href="#">Computing</a>
              <a href="single.html"><h3>How can Build a Better Connection Between the Mind and Body</h3></a>
              <div class="post-info">
                <span>Sep 23, 2016</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="fp-small">
              <div class="col-xs-6 last-small">
                <div class="img-thumb">
                  <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-5.jpg')"></div></a>
                  <div class="img-credits">
                    <a class="post-category" href="#">Fashion</a>
                    <a href="single.html"><h3>Baby brain doesn't exist say scientists</h3></a>
                    <div class="post-info">
                      <span>Sep 19, 2016</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 last-small">
                <div class="img-thumb">
                  <a href="single.html"><div class="fbt-resize" style="background-image: url('img/img-8.jpg')"></div></a>
                  <div class="img-credits">
                    <a class="post-category" href="#">CityLife</a>
                    <a href="single.html"><h3>Orci in aliquam diam, felis pede, wisi diam mollis.</h3></a>
                    <div class="post-info">
                      <span>Sep 17, 2016</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Slide Small End -->

      </div>
    </div>
  </div>
</section><!-- Featured Slide End -->

<!-- Main Content Start -->
<section id="main-content" class="fbt-blog-grid clearfix">
  <div class="container">
    <div class="row">
      <!-- Post Outer Start -->
      <div class="outer-wrapper clearfix">
        <!-- Post Wrapper Start -->
        <div class="fbt-col-lg-9 col-md-8 col-sm-6 post-wrapper">
          <div class="row">
            <!-- Post Content Start -->
            <div class="fbt-col-lg-12 col-md-12 post-container clearfix">
              <div class="title-wrapper border-main">
                <h2><span class="color-main">Latest Articles</span></h2>
              </div>
              <div class="row">
                <% @latest_articles.each do |article| %>
                <%= render partial: "shared/square_article", locals: {article: article} %>
                <% end %>
              </div>

              <!-- Pagination Start -->
              <div class="pagination-box clearfix">
                <ul class="pagination-list">
                  <li><a href="#">Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li><a class="active">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><span> ... </span></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
                <p>Page 2 of 8</p>
              </div><!-- Pagination End -->

            </div><!-- Post Content End -->
          </div>
        </div><!-- Post Wrapper End -->
        <!-- Post Sidebar Start -->
        <div class="fbt-col-lg-3 col-md-4 col-sm-6 post-sidebar clearfix">

          <div class="theiaStickySidebar">

            <!-- Advertisement Start -->
            <div class="widget advertisement">
              <div class="desktop-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
              <div class="tablet-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
              <div class="mobile-ad">
                <span>- Advertisement -</span>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
                <a href="#" target="_blank"><%= image_tag('300x250.jpg') %></a>
              </div>
            </div><!-- Advertisement End -->

          </div>
        </div><!-- Post Sidebar End -->


      </div>
    </div><!-- Post Sidebar End -->
  </div><!-- Post Outer End -->
</div>
</div>

<a href="#" id="BackToTop"><i class="fa fa-angle-up"></i></a>
<div class="navbar-fixed-bottom"></div>

