<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!--   <meta name="keywords" content="News" />
  <meta name="description" content="Responsive HTML5 Template" /> -->

  <title>Curiosidade</title>

  <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->

  <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>TODO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <%= render partial: 'shared/flashes' %>
  <%= render partial: 'shared/nav-bar' %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
</body>
</html>
